{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
  {{ block.super }}
  {% if original %}
    <li>
      <a href="{% url 'myadmin:meals_classroom_delete_students' classroom_id=original.id %}"
         class="deletelink">
        Xóa toàn bộ học sinh
      </a>
    </li>
    <li>
      <a href="{% url 'myadmin:meals_classroom_export_students' classroom_id=original.id %}"
         class="addlink">
        Export Học sinh
      </a>
    </li>
    <li>
      <a href="{% url 'myadmin:meals_classroom_import_students' classroom_id=original.id %}"
         class="addlink">
        Import Học sinh
      </a>
    </li>
    <li>
     <a href="{% url 'myadmin:meals_classroom_promote_students' classroom_id=original.id %}"
        class="addlink">
       Lên Lớp
     </a>
   </li>
  {% endif %}
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <style>
    /* Chèn số lượng ngay sau tiêu đề inline “Học sinh” */
    /* id inline-group của Student thường là student_set-group */
    #student_set-group h2::after {
      content: " ({{ student_count }})";
    }
  </style>
{% endblock %}
{# nút Xóa học sinh đã chọn lên trên #}
{% block submit_buttons_top %}
  {{ block.super }}
  <input type="submit"
         name="delete_selected_students"
         value="{% trans 'Xóa học sinh đã chọn' %}"
         class="default"
         onclick="return confirm('{% trans "Bạn có chắc chắn muốn xóa các học sinh đã chọn?" %}');" />
{% endblock %}

{# nút Xóa học sinh đã chọn xuống dưới #}
{% block submit_buttons_bottom %}
  {{ block.super }}
  <input type="submit"
         name="delete_selected_students"
         value="{% trans 'Xóa học sinh đã chọn' %}"
         class="default"
         onclick="return confirm('{% trans "Bạn có chắc chắn muốn xóa các học sinh đã chọn?" %}');" />
{% endblock %}
